<div style="">
<ul class="list-group">
  <li class="list-group-item"><%=link_to "Endimensionell Analys", course_show_path(name: "Endimensionell Analys") %></li>
  <li class="list-group-item"><%=link_to "Cras justo odio", '#' %></li>
  <li class="list-group-item"><%=link_to "Cras justo odio", '#' %></li>
  <li class="list-group-item"><%=link_to "Cras justo odio", '#' %></li>
  <li class="list-group-item"><%=link_to "Cras justo odio", '#' %></li>
</ul>

</div>