<ul class="list-group">
  <li class="list-group-item"><%=link_to "LTH", courses_path %></li>
  <li class="list-group-item"><%=link_to "Cras justo odio", '#' %></li>
  <li class="list-group-item"><%=link_to "Cras justo odio", '#' %></li>
  <li class="list-group-item"><%=link_to "Cras justo odio", '#' %></li>
  <li class="list-group-item"><%=link_to "Cras justo odio", '#' %></li>
</ul>
